<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="30px">
  <div fxFlex="96%" fxLayoutGap="2%" fxLayoutWrap *ngIf='flag===1'>
    <div fxFlex="100%" fx-flex-fill>
      <md-card>
        <md-card-content>
          <img [src]="'http://image.tmdb.org/t/p/w300'+movie.poster_path" />
          <p md-line>Tile: {{movie.original_title}}</p>
          <p md-line>Budget: {{movie.budget}}</p>
          <p md-line>Genres:</p>
          <ul *ngFor='let genre of movie.genres'>
            <li>{{genre.name}}</li>
          </ul>
          <p md-line>Votes: {{movie.vote_count}}</p>
          <p md-line>Status: {{movie.status}}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

<!-- <app-specificmovie> -->
<!--   <div *ngIf='flag===1' >
    <h2 class="title">Specific Movie Details</h2>
    <hr/>
    <md-card-content>
      <md-list>
        <md-list-item>
          <md-card>
            <md-card-content>
              <img [src]="'http://image.tmdb.org/t/p/w300'+movie.poster_path" />
              <p md-line>Tile: {{movie.original_title}}</p>
              <p md-line>Budget: {{movie.budget}}</p>
              <p md-line>Genres:</p>
              <ul *ngFor='let genre of movie.genres'>
                <li>{{genre.name}}</li>
              </ul>
              <p md-line>Votes: {{movie.vote_count}}</p>
              <p md-line>Status: {{movie.status}}</p>
            </md-card-content>
          </md-card>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div> -->

<!-- </app-specificmovie> -->
